{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Questions, Debate, Enemies?</p>
    <p>The web app that turns the social norm on its head, that has users screaming at the top of their lungs, has finally arrived! Our goal is to create an anti-Tinder for those who are looking for their destined rival</p>
    <h2>Why Would Anyone Use Such A Thing?</h2>
    <ul>
    <li>Valentine’s day is coming up and opposites attract ;) </li>
    <li>To find your special someone who will do everything in their power and do everything in their power to oppose you</li>
    <li>Sometimes you just need someone to rival</li>
    </ul>
{% endblock content %}
