{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>How Evil Are You?</h2>
<form method="POST">
<div class = "q1">
    <p>Do pineapples belong on pizza?</p>
    {% csrf_token %}
    {{ form.q1}}
</div>
    <p>Are hot dogs sandwiches?</p>
    {% csrf_token %}
    {{ form.q2}}
    <p>Are you a morning person?</p>
    {{ form.q2}}
    <p>Do you have a selfie as your background?</p>
    {{ form.q2}}
    <p>Should pizza crusts be eaten first?</p>
    {{ form.q2}}
    <p>Do you sit in a different seat everyday in class to determine the best view?</p>
    {{ form.q2}}
    <p>Is milk poured before cereal?</p>
    {{ form.q2}}
    <p>Do Christmas decorations go up right after Halloween?</p>
    {{ form.q2}}
    <p>Should iced coffee be drunk even if it is -10 degrees?</p>
    {{ form.q2}}
    <input type="submit" value="Submit">
</form>
</body>
{% endblock content %}
