{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <img style="text-align: center;" src="media/logo1.png">
    <h1 style="text-align: center;color:#3598AA">WELCOME TO FIZZLE</h1>
    <h2 style="text-align: center;color:#3E577B">FIND YOUR ARCH-NEMESIS</h2>
    <br>
    <center><iframe src="https://giphy.com/embed/krewXUB6LBja" width="300" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/duck-excited-school-krewXUB6LBja"></a></p></center>
{% endblock %}
